.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    height: 500px;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    margin-top: 5px;
    border-radius: 10px;
    height: 50px;
    width: 60px;
}